# ¿Cómo es la emisión de contaminantes de los países europeos desde el año 2004 a 2015 y cómo es la correlación con la generación de energía y de bioenergía (biomasa)?

In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_excel("Euro.Emisiones.Generaciones.xlsx")

In [62]:
# Elminando algunas columnas
del df['Unique_Plant_ID']
del df['PlantName']
del df['Refineries']
del df['OtherSector']
del df['ReferenceYear']

In [63]:
df.head(10)

,MemberState,MWth,Biomass,OtherSolidFuels,LiquidFuels,NaturalGas,OtherGases,SO2,NOx,Dust
0,UK,220.0,0.000,0.00,0.000,3339.40400,618.0780,6.000,140.00,0.00
1,UK,86.0,0.000,0.00,0.000,0.00000,693.3324,63.900,78.10,0.89
2,UK,315.0,0.000,0.00,3214.526,0.00000,3418.9920,716.000,283.00,30.00
3,UK,211.0,0.000,0.00,1171.325,0.00000,3130.6130,1099.000,488.00,0.00
4,UK,172.0,0.000,0.00,1655.478,0.00000,2976.7540,1187.000,586.00,53.00
5,UK,110.0,0.000,0.00,0.000,0.00000,0.0000,13.860,38.40,0.00
6,UK,98.0,0.000,0.00,0.259,4128.11300,0.0000,0.059,16.00,0.00
7,AT,221.0,0.000,0.00,0.000,756.20932,0.0000,0.000,42.17,0.00
8,UK,270.0,1791.765,2486.52,0.717,826.49500,0.0000,11.900,266.10,21.90
9,UK,80.0,0.000,0.00,1.386,1724.31000,2.5020,0.110,106.00,0.00

### ¿La producción de energía (MWth) aumenta la contaminación?

Como se puede observar en la correlación al aumentar la energía también está aumentando la contaminación en los diferentes países, siendo el NOx el que más se dispara cuando se aumenta la producción de energía.

In [64]:
df[[ 'MWth', 'SO2','NOx', "Dust"]].corr()

          MWth       SO2       NOx      Dust
MWth  1.000000  0.370452  0.751094  0.311628
SO2   0.370452  1.000000  0.510843  0.489155
NOx   0.751094  0.510843  1.000000  0.419871
Dust  0.311628  0.489155  0.419871  1.000000

### ¿La producción de Bioenergía (Biomasa) aumenta la contaminación?

Como se observa la producción de Biomasa también tiene efectos en la contaminación, pero en comparación a la producción de energía tiene menos efectos muchos menos significativos, con lo cual se puede concluir bajo esta observación la importancia de usar Bioenergía siendo esta más amigable con el medio ambiente.

In [65]:
df[['Biomass', 'SO2','NOx', "Dust"]].corr()

          Biomass       SO2       NOx      Dust
Biomass  1.000000  0.040187  0.204447  0.043653
SO2      0.040187  1.000000  0.510843  0.489155
NOx      0.204447  0.510843  1.000000  0.419871
Dust     0.043653  0.489155  0.419871  1.000000

Dentro de los combustibles que más proporcionan energía los países se encuentran "Otros Sólidos Combustibles"

In [67]:
df[['MWth', 'Biomass', 'OtherSolidFuels', 'LiquidFuels', 'NaturalGas', 'OtherGases']].corr()

,MWth,Biomass,OtherSolidFuels,LiquidFuels,NaturalGas,OtherGases
MWth,1.000000,0.150376,0.806428,0.133056,0.159613,0.043851
Biomass,0.150376,1.000000,0.159391,-0.011323,-0.042544,-0.032120
OtherSolidFuels,0.806428,0.159391,1.000000,0.006579,-0.061515,-0.035614
LiquidFuels,0.133056,-0.011323,0.006579,1.000000,-0.036735,0.136009
NaturalGas,0.159613,-0.042544,-0.061515,-0.036735,1.000000,-0.028977
OtherGases,0.043851,-0.032120,-0.035614,0.136009,-0.028977,1.000000

In [68]:
df

,MemberState,MWth,Biomass,OtherSolidFuels,LiquidFuels,NaturalGas,OtherGases,SO2,NOx,Dust
0,UK,220.000,0.000000,0.000000,0.000000,3339.404000,618.07800,6.0000,140.000,0.000
1,UK,86.000,0.000000,0.000000,0.000000,0.000000,693.33240,63.9000,78.100,0.890
2,UK,315.000,0.000000,0.000000,3214.526000,0.000000,3418.99200,716.0000,283.000,30.000
3,UK,211.000,0.000000,0.000000,1171.325000,0.000000,3130.61300,1099.0000,488.000,0.000
4,UK,172.000,0.000000,0.000000,1655.478000,0.000000,2976.75400,1187.0000,586.000,53.000
5,UK,110.000,0.000000,0.000000,0.000000,0.000000,0.00000,13.8600,38.400,0.000
6,UK,98.000,0.000000,0.000000,0.259000,4128.113000,0.00000,0.0590,16.000,0.000
7,AT,221.000,0.000000,0.000000,0.000000,756.209320,0.00000,0.0000,42.170,0.000
8,UK,270.000,1791.765000,2486.520000,0.717000,826.495000,0.00000,11.9000,266.100,21.900
9,UK,80.000,0.000000,0.000000,1.386000,1724.310000,2.50200,0.1100,106.000,0.000
10,UK,75.000,0.000000,2082.031200,0.000000,845.812800,0.00000,1050.0000,611.000,285.000
11,UK,135.000,0.000000,0.000000,0.000000,119.881000,0.00000,0.0900,61.850,0.000
12,UK,212.000,0.000000,0.000000,0.000000,3487.127000,0.00000,0.0000,101.003,0.000
13,UK,400.000,0.000000,0.000000,8.856000,12358.689000,0.00000,0.0000,280.000,0.000
14,UK,110.000,0.000000,0.000000,0.000000,2334.084000,0.00000,7.0000,148.000,0.000
15,UK,171.000,0.000000,0.000000,593.932000,2881.188000,0.00000,629.0000,262.000,128.000
16,UK,90.000,0.000000,0.000000,487.946000,758.456000,0.00000,517.0000,134.000,24.600
17,UK,84.000,0.000000,0.000000,0.000000,0.000000,4195.11700,12.6000,199.000,0.000
18,UK,3200.000,8.892000,10764.000000,285.120000,0.000000,0.00000,21000.0000,12100.000,922.000
19,UK,63.000,0.000000,0.000000,0.000000,0.000000,200.32400,0.0000,27.000,0.000
20,UK,55.700,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000,0.000
21,UK,55.700,0.000000,0.000000,0.000000,26.030000,0.00000,0.0000,3.940,0.000
22,UK,80.000,0.000000,0.000000,0.000000,812.770000,0.00000,5.6000,34.810,0.000
23,UK,150.000,0.000000,0.000000,0.000000,1790.580000,0.00000,0.0000,109.620,0.000
24,UK,126.000,0.000000,0.000000,0.000000,119.881000,0.00000,0.0200,12.320,0.000
25,UK,360.000,0.000000,0.000000,3136.973000,0.000000,0.00000,1150.0000,560.000,49.000
26,UK,83.000,0.000000,0.000000,0.000000,0.000000,1900.08800,145.5000,128.700,2.450
27,UK,69.000,0.000000,0.000000,684.133100,0.000000,1809.58000,578.7000,241.300,16.160
28,UK,2900.000,0.000000,0.000000,990.755000,0.000000,0.00000,387.0000,270.000,23.500
29,UK,NaN,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...
39936,CZ,222.900,1.320000,940.332571,6.213602,649.646286,0.00000,366.0210,186.708,5.765
39937,CZ,180.000,0.000000,1391.913987,11.075670,0.000000,0.00000,485.0540,257.451,4.176
39938,CZ,281.000,0.000000,2099.223693,0.000000,106.338150,0.00000,775.9100,325.893,7.887
39939,CZ,840.000,0.000000,0.000000,0.000000,134.594586,15465.59312,0.0380,740.850,0.078
39940,CZ,76.000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000,0.000
39941,CZ,1250.000,0.000000,26139.090670,0.000000,48.422276,1049.99136,2932.2290,1936.870,40.730
39942,CZ,443.000,1275.108672,4133.827404,34.733368,125.070369,0.00000,780.5830,378.145,8.919
39943,CZ,59.000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000,0.000
39944,CZ,127.800,0.000000,0.000000,0.000000,50.668686,0.00000,0.0140,2.294,0.028
39945,CZ,123.209,0.000000,0.000000,0.000000,11.229109,0.00000,0.0020,0.214,0.005
39946,CZ,55.188,0.000000,0.000000,0.000000,404.158414,0.00000,0.1120,17.208,0.233
39947,CZ,141.834,0.000000,0.000000,0.000000,503.378710,0.00000,0.6320,17.899,0.124
39948,CZ,173.700,0.000000,0.000000,0.000000,43.009346,0.00000,0.1160,1.772,0.018
39949,CZ,255.000,0.000000,0.000000,0.000000,50.668686,0.00000,0.0140,2.294,0.028
39950,CZ,266.000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000,0.000
39951,CZ,62.200,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000,0.000
39952,CZ,72.000,0.000000,0.000000,0.000000,306.783690,0.00000,0.2410,7.137,0.095
39953,CZ,209.000,0.000000,0.000000,0.000000,503.378710,0.00000,0.6320,17.899,0.124
39954,CZ,188.000,2327.718380,2615.992110,0.000000,22.041102,0.00000,498.4980,363.283,32.962
39955,CZ,384.000,762.451200,4891.094580,0.000000,11.098298,0.00000,2719.3532,458.650,5.811
39956,CZ,61.450,0.000000,0.000000,0.000000,5.773130,0.00000,0.0000,0.000,0.000
39957,CZ,409.610,0.000000,4069.780260,0.000000,17.387590,0.00000,1253.1740,482.841,32.025
39958,CZ,73.350,0.000000,0.000000,0.000000,277.977000,0.00000,0.6350,6.748,0.220
39959,CZ,97.900,0.000000,483.995317,0.000000,1.995552,0.00000,313.2890,88.868,6.417
39960,CZ,99.500,0.000000,0.000000,58.304575,698.860521,0.00000,33.1100,26.973,0.898
39961,CZ,347.000,1845.909120,2875.765584,149.537210,0.000000,0.00000,553.3480,228.411,6.065
39962,CZ,96.000,0.000000,455.266080,0.000000,0.000000,0.00000,175.4960,49.252,0.013
39963,CZ,192.440,0.000000,2064.042723,0.000000,36.024716,0.00000,995.1980,320.495,12.616
39964,CZ,87.000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000,0.000
39965,CZ,199.770,0.000000,339.830899,0.000000,0.000000,0.00000,145.2390,40.095,5.220